<!DOCTYPE html>
<html>
<head>
    <title>Masseuse Control Panel</title>
    <!-- Include Socket.IO -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        function sendCommand(command) {
            socket.emit('sendCommand', command);
        }
    </script>
</head>
<body>
    <h1>Masseuse Control Panel</h1>
   
    <button onclick="sendCommand('start')">Start Massage</button>
    <button onclick="sendCommand('stop')">Stop Massage</button>
   
</body>
</html>
